<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>NAMA PRODUCT</td>
        <td>HARGA</td>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product)=> { %>
        <tr>
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= product.name %>
          </td>
          <td>
            <%= product.price %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <div>
    <h2>Form Pembelian</h2>
    <form action="/purchase" method="POST">
      <label for="product">Pilih Produk:</label>
      <select name="product_id" id="product" required>
        <% products.forEach(p=> { %>
          <option value="<%= p.id %>">
            <%= p.name %>
          </option>
          <% }) %>
      </select>

      <label for="qty">Jumlah:</label>
      <input type="number" name="quantity" id="qty" min="1" required>
      <button type="submit">Beli</button>
    </form>
  </div>

  <div>
    <h2>Riwayat Pembelian</h2>
    <table cellpadding="8">
      <thead>
        <tr>
          <th>Produk</th>
          <th>Jumlah</th>
          <th>Status</th>
          <th>Waktu</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% purchases.forEach(p=> { %>
          <tr>
            <td>
              <%= p.product_name %>
            </td>
            <td>
              <%= p.quantity %>
            </td>
            <td>
              <%= p.status %>
            </td>
            <td>
              <%= p.created_at %>
            </td>
            <td>
              <% if (p.status==='active' ) { %>
                <form action="/cancel/<%= p.id %>" method="POST" style="display:inline;">
                  <button type="submit">Cancel</button>
                </form>
                <% } else { %>
                  Dibatalkan
                  <% } %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>


  <div>
    <h2>Daftar Produk</h2>
    <table cellpadding="8">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama Produk</th>
          <th>Harga</th>
          <th>Stok</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach((p)=> { %>
          <tr>
            <td>
              <%= p.id %>
            </td>
            <td>
              <%= p.name %>
            </td>
            <td>Rp <%= p.price %>
            </td>
            <td>
              <%= p.stock %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>

  </div>
</body>

</html>